@charset "utf-8";
.slick-controls{z-index:10;}
.slick-nav a{font-size:0;z-index:40;transition:all .2s ease-in-out;}
.slick-nav a{background:url('/_KOR/img/ir.svg') no-repeat;}
.slick-nav a.slick-play{display:none;}

/* ---------------------- 메인 ---------------------- */
/* 메인비주얼 */
.main_v_sd{position:relative;height:900px;text-align:center;background:#000;}
.main_v_sd .item{position:relative;height:900px;overflow:hidden;}
.main_v_sd .item .img_bg{z-index:2}
.main_v_sd .item .img_bg .bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.main_v_sd .item.item1 .float_img{position:absolute;top:50%;margin-top:-120px;left:10%;z-index:3;width:859px;height:419px}
.main_v_sd .item.item1 .float_img img{position:absolute;}
.main_v_sd .item.item1 .float_img img:nth-child(1){top: 90px;left: 35%;}
.main_v_sd .item.item1 .float_img img:nth-child(2){top: -6px;left: 62%;}
.main_v_sd .item.item1 .float_img img:nth-child(3){top: 80px;left: 94%;}
.main_v_sd .item.item1 .float_img img:nth-child(4){top: 240px;left: 100%;}
.main_v_sd .main_sd_video{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);min-width:100%;min-height:100%;max-width:inherit;object-fit:cover}
.main_v_sd .slick-slide.slick-active .item .img_bg .bg{animation:animate_background 4s both;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img{animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation-delay: .1s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(1){animation-delay: .2s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(2){animation-delay: .3s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(3){animation-delay: .4s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(4){animation-delay: .5s;}
@keyframes animate_background {0% {transform:scale(1)} 100% {transform:scale(1.05)}}
@keyframes slide-bottom {
  0% {transform: translateY(20px);opacity:0;}
  100% {transform: translateY(0);opacity:1;}
}

/* slick-nav */
.main_vsual_wp .slick-controls {z-index:90;}
.main_vsual_wp .slick-nav a{position:absolute;background-color:rgba(32,35,45,.7);width:32px;height:32px;border-radius:50%;z-index:90;}
.main_vsual_wp .slick-nav a.slick-prev,.main_vsual_wp .slick-nav a.slick-next{width:40px;height:40px;top:450px;margin-top:-20px;}
.main_vsual_wp .slick-nav a.slick-prev{background-position:-5px -5px;left:50px;}
.main_vsual_wp .slick-nav a.slick-next{background-position:-53px -5px;right:50px;}
.main_vsual_wp .slick-nav a.slick-stop,.slick-nav a.slick-play{width:24px;height:24px;bottom:40px;right:0;z-index:56}
.main_vsual_wp .slick-nav a.slick-stop{background-position:-353px -54px;}
.main_vsual_wp .slick-nav a.slick-play{background-position:-377px -54px;}
.main_vsual_wp .slick-dots{position:absolute;bottom:38px;left:50%;margin-left:-700px;width:1400px;text-align:center;z-index:52}

@keyframes slide-bottom {
  0% {-webkit-transform: translateY(10px); transform: translateY(10px);opacity:0;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);opacity:1;}
}



/* 메인 sec */
.main_sec{padding:80px 0;}
.main_sec .sec_wp{display:flex;justify-content:space-between;flex-wrap:wrap;}
.main_sec a{transition:all .3s ease-in-out;}
.main_sec .tit_wp{margin-bottom:20px;}

/* 메인 sec1 */
.main_sec1 .txt_con .top_txt span.h2 {color: #187b30;position: relative;}
.main_sec1 .txt_con .top_txt span.h2::after {content: '';display: block;width: calc(100% + 10px);height: 5px;background: rgba(167, 215, 160, .5);position: absolute;bottom: 5px;left: -5px;}
.main_sec1 .txt_con .top_txt span.h2::after {content: '';display: block;width: calc(100% + 10px);height: 5px;background: rgba(167, 215, 160, .5);position: absolute;bottom: 5px;left: -5px;}
.hs_pkg .main_sec1 .txt_con {background: #fff;position: absolute;top: 0;left: 0;width: 50%;padding: 2.5rem;}
.hs_pkg .main_sec1 .img_con {width: 100%;min-height: 650px;background: #fafafa;}

.nj_pkg .main_sec1 .txt_con {width: 50%;padding: 2.5rem;}
.nj_pkg .main_sec1 .img_con {width: 50%;text-align: center;}

/* 메인 sec2 */
.sec_tit_wp {display: flex;align-items: center;}
.sec_tit_wp .btn_box {margin-left: 10px;}
.sec_tit_wp .btn_box .btn {padding: 5px 15px;border-radius: 20px;}

.main_sec2 .radi_box {border-radius: 0 0 0 20px;padding: 3.75rem 6.25rem; box-shadow: 4px 7px 32px 0px rgba(0, 0, 0, 0.12);}
.main_sec2 .radi_box .con_box {display: flex;border-top: 1px solid #cdd0d5;padding: 1.5rem 0;}
.main_sec2 .radi_box .con_box.con01 {border-top:2px solid #4C4C4C}
.main_sec2 .radi_box .con_box .con_left_box {width: 20%;}
.main_sec2 .radi_box .con_box .con_right_box {width: 80%;}
.main_sec2 .con_right_box .in_box {justify-content: space-between;}
.main_sec2 .con_right_box .in_box .table_wp {width: 500px;}
.basic_tb.th_green {border-top:2px solid #4C4C4C;}
.basic_tb.th_green th {background: #f2f7f0;font-weight: 500;}
.basic_tb.th_green th, .basic_tb.th_green td {padding: 10px;border: 1px solid #ddd;}
.basic_tb.th_green th:first-child{border-left: none;border-right: none;}
.basic_tb.th_green td {font-size: 0.938rem;}
.basic_tb.th_green th:last-child{border-right: none;}
.basic_tb.th_green td:first-child{border-left: none;}
.basic_tb.th_green td:last-child{border-right: none;}
.main_sec2 .con_right_box .in_box ul {width: calc(100% - 590px);}
.main_sec2 .con04 .red {padding-left: 15px;margin-top: 10px;}
.hs_pkg .main_sec2 .radi_box::after {content: '';display: block;width: 390px;height: 240px;position: absolute;bottom: -30px;right: -60px;background: gold;}

.nj_pkg .main_sec2 .sec_wp {margin: 0 -1.875rem;flex-wrap: wrap;justify-content: space-between;}
.nj_pkg .main_sec2 .sec_wp .con_box {margin: 1.875rem;width: calc(50% - 3.75rem);padding: 2.5rem;box-shadow: 4px 7px 32px 0px rgba(0, 0, 0, 0.12);border-radius: 20px;}
.nj_pkg .main_sec2 .sec_wp .con_box.con03 {width: 100%;}
.nj_pkg .main_sec2 .sec_wp .con_box .ico_box {display: flex;flex-wrap: wrap;}
.nj_pkg .main_sec2 .sec_wp .con_box .ico_box > .ico {width: 110px;height: 110px;}
.nj_pkg .main_sec2 .sec_wp .con_box .ico_box > .con {width: calc(100% - 110px);padding-left: 2.5rem;;}
.nj_pkg .main_sec2 .sec_wp .in_box {display: flex;flex-wrap: wrap;justify-content: space-between;}
.nj_pkg .main_sec2 .sec_wp .in_box .table_wp {width: 500px;}
.nj_pkg .main_sec2 .sec_wp .in_box .con_txt {width: calc(100% - 590px);}
.nj_pkg .main_sec2 .sec_wp .in_box .con_txt .btn {padding: 5px 15px;border-radius: 20px;margin-top: 2.5rem;}


/* 메인 sec3 */
.main_sec.main_sec3 {padding-bottom: 0;}
.main_sec3 .map_wp {width: 100%;}
.main_sec3 .map_wp .map {height: 500px;}
.main_sec3 .map_wp .map .map_border {display: none;}
.root_daum_roughmap .wrap_btn_zoom {display: none !important;}

/* main_banner */
.main_banner{padding:40px 0;background:#efefef;}
.main_ban_wp{padding-right:120px;}
.main_banner .item {margin:0 -8px;}
.main_banner .item a{display:flex;width:calc(100% - 16px);margin:8px;align-items:center;justify-content:center;text-align:center;border-radius:8px;}
.main_banner .item a{height:60px;}
.main_banner .item a:hover{background:#fff;}
.main_banner .item a img{display:inline-block;max-height:40px;max-width:180px;}
.main_banner .slick-nav{position:absolute;top:24px;right:0;}
.main_banner .slick-nav a{width:32px;height:32px;border-radius:50%;z-index:90;vertical-align: middle;background-color:#fff;border:1px solid #cdd0d5;}
.main_banner .slick-nav a.slick-prev{background-position:-289px -51px;}
.main_banner .slick-nav a.slick-next{background-position:-322px -51px;}
.main_banner .slick-nav a.slick-stop,
.main_banner .slick-nav a.slick-play,
.main_banner .slick-nav a:hover{background-color:#20232d;border-color:transparent;}
.main_banner .slick-nav a.slick-stop{background-position:-98px -51px;}
.main_banner .slick-nav a.slick-play{background-position:-128px -51px;}