@charset "utf-8";
.slick-controls{z-index:10;}
.slick-nav a{font-size:0;z-index:40;transition:all .2s ease-in-out;}
.slick-nav a{background:url('/_KOR/img/ir.svg') no-repeat;}
.slick-nav a.slick-play{display:none;}

/* ---------------------- 메인 ---------------------- */
/* 메인비주얼 */
.main_v_sd{position:relative;height:900px;text-align:center;background:#000;}
.main_v_sd .item{position:relative;height:900px;overflow:hidden;}
.main_v_sd .item .img_bg{z-index:2}
.main_v_sd .item .img_bg .bg{position:absolute;top:0;left:0;width:100%;height:100%;}
.main_v_sd .item.item1 .float_img{position:absolute;top:50%;margin-top:-120px;left:10%;z-index:3;width:859px;height:419px}
.main_v_sd .item.item1 .float_img img{position:absolute;}
.main_v_sd .item.item1 .float_img img:nth-child(1){top: 90px;left: 35%;}
.main_v_sd .item.item1 .float_img img:nth-child(2){top: -6px;left: 62%;}
.main_v_sd .item.item1 .float_img img:nth-child(3){top: 80px;left: 94%;}
.main_v_sd .item.item1 .float_img img:nth-child(4){top: 240px;left: 100%;}
.main_v_sd .main_sd_video{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);min-width:100%;min-height:100%;max-width:inherit;object-fit:cover}
.main_v_sd .slick-slide.slick-active .item .img_bg .bg{animation:animate_background 4s both;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img{animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation-delay: .1s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(1){animation-delay: .2s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(2){animation-delay: .3s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(3){animation-delay: .4s;}
.main_v_sd .slick-slide.slick-active .item1 .float_img img:nth-child(4){animation-delay: .5s;}
@keyframes animate_background {0% {transform:scale(1)} 100% {transform:scale(1.05)}}
@keyframes slide-bottom {
  0% {transform: translateY(20px);opacity:0;}
  100% {transform: translateY(0);opacity:1;}
}

/* slick-nav */
.main_vsual_wp .slick-controls {z-index:90;}
.main_vsual_wp .slick-nav a{position:absolute;background-color:rgba(32,35,45,.7);width:32px;height:32px;border-radius:50%;z-index:90;}
.main_vsual_wp .slick-nav a.slick-prev,.main_vsual_wp .slick-nav a.slick-next{width:40px;height:40px;top:450px;margin-top:-20px;}
.main_vsual_wp .slick-nav a.slick-prev{background-position:-5px -5px;left:50px;}
.main_vsual_wp .slick-nav a.slick-next{background-position:-53px -5px;right:50px;}
.main_vsual_wp .slick-nav a.slick-stop,.slick-nav a.slick-play{width:24px;height:24px;bottom:40px;right:0;z-index:56}
.main_vsual_wp .slick-nav a.slick-stop{background-position:-353px -54px;}
.main_vsual_wp .slick-nav a.slick-play{background-position:-377px -54px;}
.main_vsual_wp .slick-dots{position:absolute;bottom:38px;left:50%;margin-left:-700px;width:1400px;text-align:center;z-index:52}

/*바로예약*/
.main_rev_quick {position:absolute;top:160px;left:0;width:100%;padding-top:72px;}
.main_rev_quick .inner{display:flex;}
.main_rev_quick .rev_quick {width:360px;background:#fff;border-radius:17px;border:1px solid #2357ff;margin-left: auto;padding: 24px 30px;}
.main_rev_quick .rev_quick .top_a {border-bottom:3px solid rgba(66, 66, 180, .1);}
.main_rev_quick .rev_quick .top_a .h6 span::after {content: '';display:block;width: 6px;height: 6px;background: #8199d7;border-radius: 50%;position: absolute;top: 5px;right: -6px;}
.main_rev_quick .rev_quick .bottom_a {padding-top: 20px;}
.main_rev_quick .rev_quick .form_row select {height: 40px;width: 100%;border-radius: 20px;padding-left: 45px;font-size: 0.875rem;color: #747474;font-weight: 600;}


/* 메인 탭 */
/* .main_notice{position:absolute;top:160px;left:0;width:100%;padding-top:72px;}
.main_notice .inner{display:flex;}
.main_notice .main_noti_wp{width:560px;background:#e7e7e8;border-radius:17px 17px 0 0;border:1px solid #e21b2e;margin-left: auto;}
.main_notice .tablink{padding:20px 19px;font-size:1.375rem;color:#666;}
.main_notice .tablink span{font-weight:700;}
.main_notice .tablink:not(.active):hover {color:#525866;background:#fff;box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);}
.main_notice .tablink.active{background:#fff;color:#121212;box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);}
.main_notice .board_tabs{position:relative;display:flex;}
.main_notice .board_tabs li:first-child .tablink{border-radius:17px 0 0 0;}

.main_notice .tab_cont{display:none;position:absolute;width:calc(100% + 2px);left:-1px;border:1px solid #e21b2e;border-top:0;border-radius:0 0 17px 17px;background:#fff;}
.main_notice .tab_cont > ul{padding:2rem;height:100%;min-height:220px;height:100%;}
.main_notice .tab_cont li a{position:relative;display:flex;height:100%;}
.main_notice .tab_cont li:not(:first-child) a{padding-top:20px}
.main_notice .tab_cont .tag{padding:4px 12px;background:#f8ece9;color:#d63027;font-size:1rem;border-radius:32px;font-weight:700;}
.main_notice .tab_cont .tag + *{margin-left:8px;}
.main_notice .tab_cont .tag.tag2{background:#d4effd;color:#0093bf;}
.main_notice .tab_cont .tag.tag3{background:#ddf0ed;color:#118a72;}
.main_notice .bo_tit{font-size:1.125rem;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main_notice a:hover .bo_tit{text-decoration:underline;}
.bo_main_empty{width:100%;padding:16px;display: flex;    align-items: center;    justify-content: center;background:#fafafa;border-radius:12px;min-height:220px}
.board_tabs li a.more {display:none;position:absolute;top:18px;right:18px;width:32px;height:32px;background:url('/_KOR/img/ir.svg') -64px -51px no-repeat #fff;border-radius:50%;font-size:0;box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);}
.board_tabs li:first-child  a.more{display:block;}
.board_tabs li:first-child .tab_cont{display:block;}
.main_notice,
.main_notice .board_tabs > li > .tab_cont > ul > li{animation: slide-bottom 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(2){animation-delay: 0.05s;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(2){animation-delay: 0.1s;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(3){animation-delay: 0.2s;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(4){animation-delay: 0.3s;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(5){animation-delay: 0.4s;}
.main_notice .board_tabs > li > .tab_cont > ul > li:nth-child(6){animation-delay: 0.5s;} */
@keyframes slide-bottom {
  0% {-webkit-transform: translateY(10px); transform: translateY(10px);opacity:0;}
  100% {-webkit-transform: translateY(0);transform: translateY(0);opacity:1;}
}



/* 메인 sec */
.main_sec{padding:72px 0;}
.main_sec .sec_wp{display:flex;justify-content:space-between;flex-wrap:wrap;}
.main_sec a{transition:all .3s ease-in-out;}
.main_sec .tit_wp{margin-bottom:20px;}

/* 메인 sec1 */
.main_sec1{background:url('/_KOR/img/main_sec2_bg.svg')  center -5px repeat-x #fff;}

.board_tabs{position:relative;display:flex;}
.board_tabs li:first-child .tablink{border-radius:17px 0 0 0;}

.main_board_wp{width: calc((100% - 64px)* 0.7);}

.main_sec1 .tablink{color:#868C98;}
.main_sec1 .tablink span{padding:8px 16px;border-radius:2rem;font-size:1.125rem;font-weight:600;}
.main_sec1 .tablink:not(.active):hover span{color:#525866;background:#fff;box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);}
.main_sec1 .tablink.active span{background:#2357ff;color:#fff;box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);}

.main_sec1 .board_tabs{position:relative;display:flex;animation: slide-bottom2 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.main_sec1 .board_tabs > li{background:#fff;height: fit-content;}
.main_sec1 .board_tabs > li.active > .tab_cont > ul > li{animation: slide-bottom2 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.main_sec1 .board_tabs > li.active > .tab_cont > ul > li:nth-child(2){animation-delay: 0.1s;}
.main_sec1 .board_tabs > li.active > .tab_cont > ul > li:nth-child(3){animation-delay: 0.2s;}
.main_sec1 .board_tabs > li.active > .tab_cont > ul > li:nth-child(4){animation-delay: 0.3s;}
.main_sec1 .board_tabs > li.active > .tab_cont > ul > li:nth-child(5){animation-delay: 0.4s;}

.board_tabs .tab_cont{display:none;position:absolute;width:100%;left:-1px;border:1px solid #ddd;border-radius:17px;background:#fff;width:calc(100% + 2px);top: 59px;}
.board_tabs .tab_cont > ul{height:100%;min-height:220px;height:100%;display: flex;}
.board_tabs .tab_cont li {width: calc(100% / 3);padding: 2rem;border-right:1px solid #ddd;min-height: 310px;}
.board_tabs .tab_cont li:last-child {border-right:none}
.board_tabs .tab_cont li a{position:relative;height:100%;}
.board_tabs .tab_cont .bo_tag .tag{padding:4px 12px;border-radius:32px;font-weight:700;font-size:0.875rem;line-height:1.313rem;}
.board_tabs .tab_cont .tag.tag1{background:#d4effd;color:#0093bf;}
.board_tabs .tab_cont .tag.tag2{background:#ddf0ed;color:#118a72;}
.board_tabs .tab_cont .tag.tagN{background:#f8ece9;color:#d63027;}
.board_tabs a:hover .tit{text-decoration:underline;}
.bo_main_empty{width:100%;padding:16px;display: flex; align-items: center;    justify-content: center;background:#fafafa;border-radius:12px;min-height:220px}
.board_tabs li a.more {display:none;position:absolute;top:5px;right:0;width:32px;height:32px;background:url('/_KOR/img/ir.svg') -64px -51px no-repeat #fff;border-radius:50%;font-size:0;box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);}
.board_tabs li:first-child  a.more{display:block;}
.board_tabs li:first-child .tab_cont{display:block;}
.board_tabs .tit {font-size:1.375rem;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;margin-top:1.25rem;}
.board_tabs .con {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.board_tabs .date {margin-top: 2rem;color: #666;font-size: 0.875rem;}

.popup_zone{position:relative;width: calc((100% - 64px)* 0.3);}
.popup_zone_sd .slick-list{height:310px;border-radius:17px;overflow:hidden;box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.08);}
.popup_zone_sd .item a{display:block;height:310px;}
.popup_zone_sd .item a img{height:100%;width:100%}
.popup_zone .slick-controls {position:absolute;right:0;top:0}
.popup_zone .slick-count{color:#525866;}
.popup_zone .slick-nav{display:flex;align-items:center;}
.popup_zone .slick-nav * + *{margin-left:2px}
.popup_zone .slick-nav a{width:32px;height:32px;border-radius:50%;z-index:90;vertical-align: middle;}
.popup_zone .slick-nav a.slick-prev{background-position:-163px -51px;}
.popup_zone .slick-nav a.slick-next{background-position:-193px -51px;}
.popup_zone .slick-nav a.slick-stop{background-position:-226px -51px;}
.popup_zone .slick-nav a.slick-play{background-position:-257px -51px;}

/* 메인 sec2 */
.main_sec2{background: rgb(248,220,231);background: linear-gradient(180deg, rgba(248,220,231,1) 0%, rgba(254,239,225,1) 100%);}
.main_sec2 .main_major{width:calc((100% - 64px) * 0.7 );}
.main_sec2 .main_major_item{display:flex;flex-wrap:wrap;margin:0 -6px;height:380px;overflow:hidden;}
.main_sec2 .main_major_item > li{position:relative;width:calc((100% - 36px) * 0.11);margin:0 6px;background: rgb(229,53,64);background: linear-gradient(180deg, rgba(229,53,64,1) 0%, rgba(235,145,49,1) 100%);border-radius:17px;overflow:hidden;color:#fff;transition:all .3s ease-in-out;}
.main_sec2 .main_major_item > li a.btn_link{display:block;padding:32px 28px;height:100%;width:100%;}
.main_sec2 .main_major_item > li:not(.active) .tit{font-weight:700;font-size:1.5rem;word-break:break-all;text-align:center;width:36px;margin:0 auto;opacity:1;}
.main_sec2 .main_major_item > li .active_tit{display:none}
.main_sec2 .main_major_item > li .desc{display:none;font-size:0;transition:all .3s ease-in-out;}
.main_sec2 .main_major_item > li .more{display:none;}
.main_sec2 .main_major_item .ico_open{position:absolute;bottom:32px;left:50%;margin-left:-20px;width:40px;height:40px;border-radius:50%;background:url('/_KOR/img/ir.svg') -203px -1px no-repeat #fff;}

.main_sec2 .main_major_item > li.active{width:calc((100% - 36px) * 0.78);}
.main_sec2 .main_major_item > li.active a.btn_link{padding:80px 44px 32px;}
.main_sec2 .main_major_item > li.active .tit{display:none;opacity:0}
.main_sec2 .main_major_item > li.active .active_tit{display:block;font-weight:700;font-size:2.25rem;word-break:break-all;text-align:left;width:100%}
.main_sec2 .main_major_item > li.active .desc{display:block;margin:16px 0 36px;font-size:1.25rem;transition-delay: 2s;}
.main_sec2 .main_major_item > li.active .more{display:inline-flex;position:absolute;top:220px;left:44px;width:160px;height:48px;border-radius:40px;}
.main_sec2 .main_major_item > li.active .more .ico{width:20px;height:20px;background:url('/_KOR/img/ir.svg') -402px -57px no-repeat }
.main_sec2 .main_major_item > li.active .ico_open{display:none;}
.main_sec2 .main_major_item > li.active.item1{background:url('/_KOR/img/main_sec3_img1.jpg') 50% 50% no-repeat #000;background-size:cover;}
.main_sec2 .main_major_item > li.active.item2{background:url('/_KOR/img/main_sec3_img2.jpg') 50% 50% no-repeat #000;background-size:cover;}
.main_sec2 .main_major_item > li.active.item3{background:url('/_KOR/img/main_sec3_img3.jpg') 50% 50% no-repeat #000;background-size:cover;}
.main_sec2 .main_major_item > li.active.item4{background:url('/_KOR/img/main_sec3_img4.jpg') 50% 50% no-repeat #000;background-size:cover;}

.main_sec2 .mainbtn_link{padding-top:46px;width:calc((100% - 64px) * 0.3 );}
.main_sec2 .mainbtn_link a{height:calc((380px - 2rem) / 3);margin-top:1rem;display:block;border:4px solid #ffccd1;border-radius:13px;box-sizing:border-box;background:url('/_KOR/img/main_sec3_ico1bg.svg') center 20px no-repeat #fff;}
.main_sec2 .mainbtn_link a.link2 {border-color:#ffe7bb;background:url('/_KOR/img/main_sec3_ico2bg.svg') center 12px no-repeat #fff;}
.main_sec2 .mainbtn_link a > .ico{margin:32px 0 16px;height:58px;overflow:visible;}
.main_sec2 .mainbtn_link a .more{display:inline-flex;margin-top:8px;border-radius:32px;height:26px;background:#FFF3F8;color:#D10028;}
.main_sec2 .mainbtn_link a .more .ico{width:12px;height:12px;background:url('/_KOR/img/ir.svg') -344px -3px no-repeat ;}
.main_sec2 .mainbtn_link a.link2 .more{background:#FFEEDB;color:#C6501B;}
.main_sec2 .mainbtn_link a.link2 .more .ico{background-position:-368px -3px;}

.main_sec2 .main_sns{position:relative;width:calc((100% - 64px) * 0.2 );}
.main_sec2 .main_sns .item > a{display:block;height:380px;border-radius:17px;border:4px solid #ddd;padding:28px;background:#fff;font-size:1rem;}
.main_sec2 .main_sns .item .user{align-items:center;}
.main_sec2 .main_sns .item .user .user_logo{width:36px;height:36px;margin-right:8px;background:#fff;border:1px solid #ededed;border-radius:50%;}
.main_sec2 .main_sns .item .img_box{margin:16px 0;border-radius:7px;overflow:hidden;height:204px;width:100%;background:#f4f4f4}
.main_sec2 .main_sns .item .img_box img{width:100%;height:100%;}
.main_sec2 .main_sns .tit{font-size:1.125rem;line-height:1.5rem;height:2.9rem;font-weight:700;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_sns .slick-nav a{position:absolute;right:0;top:8px;width:24px;height:24px;border-radius:50%;z-index:90;vertical-align: middle;background-color:#20232d;}
.main_sns .slick-nav a.slick-stop{background-position:-353px -54px;}
.main_sns .slick-nav a.slick-play{background-position:-377px -51px;}
.main_sec2 .main_sns .slick-dots{position:absolute;top:2px;right:32px;margin:0}
.main_sec2 .main_sns .slick-dots button{background:rgba(0, 0, 0, 0.4);}
.main_sec2 .main_sns .slick-dots button:hover{border:3px solid rgba(0, 0, 0, 1);}
.main_sec2 .main_sns .slick-dots .slick-active button{border-radius:16px;background:rgba(0, 0, 0, 0.8)}

/* 메인 sec3 */
.info_links{display:flex;flex-wrap:wrap;margin:0 -8px;}
.info_links li{width:calc((100% - 112px) / 6);margin:0 8px;padding:20px 16px;border-radius:16px;text-align:center;}
.info_links li a{display:block;}
.info_links li a .ico{width:112px;height:112px;background:url('/_KOR/img/main_bottom_ir.svg') 21px 25px no-repeat #f4f5f4;border-radius:50%;margin:0 auto 16px;transition:all .3s ease-in-out;}
.info_links li a:hover .ico{background-color:#D10028;}
.info_links li:nth-child(2) a .ico{background-position:-91px 25px}
.info_links li:nth-child(3) a .ico{background-position:-202px 25px}
.info_links li:nth-child(4) a .ico{background-position:-314px 25px}
.info_links li:nth-child(5) a .ico{background-position:-427px 25px}
.info_links li:nth-child(6) a .ico{background-position:-537px 25px}
.info_links li a p{font-weight:700;font-size:1.5rem;}
.info_links li:nth-child(1) a:hover .ico{background-position:21px -86px}
.info_links li:nth-child(2) a:hover .ico{background-position:-91px -86px}
.info_links li:nth-child(3) a:hover .ico{background-position:-202px -86px}
.info_links li:nth-child(4) a:hover .ico{background-position:-314px -86px}
.info_links li:nth-child(5) a:hover .ico{background-position:-427px -86px}
.info_links li:nth-child(6) a:hover .ico{background-position:-537px -86px}

/* main_banner */
.main_banner{padding:40px 0;background:#efefef;}
.main_ban_wp{padding-right:120px;}
.main_banner .item {margin:0 -8px;}
.main_banner .item a{display:flex;width:calc(100% - 16px);margin:8px;align-items:center;justify-content:center;text-align:center;border-radius:8px;}
.main_banner .item a{height:60px;}
.main_banner .item a:hover{background:#fff;}
.main_banner .item a img{display:inline-block;max-height:40px;max-width:180px;}
.main_banner .slick-nav{position:absolute;top:24px;right:0;}
.main_banner .slick-nav a{width:32px;height:32px;border-radius:50%;z-index:90;vertical-align: middle;background-color:#fff;border:1px solid #cdd0d5;}
.main_banner .slick-nav a.slick-prev{background-position:-289px -51px;}
.main_banner .slick-nav a.slick-next{background-position:-322px -51px;}
.main_banner .slick-nav a.slick-stop,
.main_banner .slick-nav a.slick-play,
.main_banner .slick-nav a:hover{background-color:#20232d;border-color:transparent;}
.main_banner .slick-nav a.slick-stop{background-position:-98px -51px;}
.main_banner .slick-nav a.slick-play{background-position:-128px -51px;}

